<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content Submission</title>
</head>
<body>
    <h1>Content Submission</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.content_type.label_tag }} {{ form.content_type }}
        {{ form.content_text.label_tag }} {{ form.content_text }}
        {{ form.content_image.label_tag }} {{ form.content_image }}
        {{ form.content_video.label_tag }} {{ form.content_video }}
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>
