*.pyc
__pycache__/
*.db
*.sqlite3
*.env
*.idea/
*.vscode/
*.pyo
*.pyd
*.pyc
*.psd
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.log
*.DS_Store
__pycache__/
env/
*.pyc
*.pyo
*.orig
*.db.sqlite3
*.bak
*.swp
*.tmp
*.log
